.userContainer{
    display: flex;
    align-content: center;
    justify-items: center;
    border: 1px solid #e7e7e7;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.userImage img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.userName a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #198754;
    cursor: pointer;
}
.userName a:hover{
    color: #02c469;
}
