.userContainer{
    display: flex;
    align-content: center;
    justify-items: center;
    margin-bottom: 16px;
}
.userImage img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.userName a{
    text-decoration: none;
    font-size: 18px;
    color: #363636;
    cursor: pointer;
}
.userName a:hover{
    color: #363636;
}
